
.hello{
    background:linear-gradient(to right, #fc4362, #fa1c2e);
    text-align: center;
    margin-left: 700px;
    color: white;
    padding: 20px;
    font-size: 23px;
    font-style: bold;
    .name{
        color: rgb(253, 253, 253);
        font-size:  25px;
        font-style: italic;
        
    }

}
