.products{
    text-align: center;
    padding: 20px;
    gap: 30px;
    justify-content: center;
    .list{
        border: 3px solid rgba(3, 3, 133, 0.568);
        border-radius: 6px ;
        text-align: left;
        box-shadow: 0 4px 6px rgba(1, 9, 117, 0.3); 
        font-size: 20px;
       
        padding: 10px;
        margin: 25px;
        width: 320px;

        &:hover {
            transform: translateY(-5px); // Slight lift effect
            box-shadow: 0 6px 12px rgba(1, 9, 117, 0.5);
        }
        p{
            margin-left: 20px;
        }
        button{
            background-color: rgba(57, 40, 204, 0.918);
            border: 2px solid rgba(0, 0, 255, 0.418);
            border-radius: 4px;
            color: white;
            margin-left: 210px;
            margin-bottom: 10px;
            padding: 7px;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
           &:hover{
            background-color: rgb(18, 6, 184);
            font-size: 14px;
           }
        }

        .btn1{
            background-color: rgba(4, 131, 32, 0.918);
            border: 2px solid rgba(4, 95, 4, 0.384);
            margin-left: 150px;
            width: 30px;
            font-size: 13px;
            padding: 7px;
            &:hover {
                background-color: rgb(3, 110, 27);
                transform: scale(1.1); // Slight enlarge effect on hover
            }
        }
        .btn2{
            background-color: rgba(182, 13, 13, 0.918);
            border: 2px solid rgba(116, 0, 0, 0.192);
            margin-left: 150px;
            font-size: 13px;
            width: 30px;
         
            
            &:hover {
                background-color: rgb(140, 10, 10);
                transform: scale(1.1);
            }
        }
    }
}